$font-stack: 'Raleway', sans-serif;
$font-stack2: 'Roboto', sans-serif;
$font-stack3: 'Open Sans', sans-serif;
$color-yellow: #FFCC00;

@mixin line  {
  height: 0;
  border: 1px solid $color-yellow;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 121px 135px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.head {
   margin-bottom: 115px;
   display: flex;
   flex-direction: column;

  .subtitle {
    font-family: $font-stack;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #898F8F;
    margin-bottom: 15px;
  }

  .title {
    font-family:$font-stack2;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: $color-yellow;
    margin-bottom: 40px;
  }
 }

.divider {
  display: flex;
  margin: 0 203px;
  position: relative;
  align-self: center;
}

.line1 {
  @include line;
  width: 210px;
  margin-right: 10px;
}

.line2 {
  @include line;
  width: 210px;
  margin-left: 10px;
}

.fire {
  position: absolute;
  left: 211px;
  bottom: -12px;

  & .icon {
    width: 20px;
    height: 20px;
  }
}

.slider {
  display: flex;
}

.left-part {
  border-right: 1px solid $color-yellow;
  position: relative;

  .image {
    padding: 40px 100px 30px 125px;
    position: relative;
  }
}

.right-part {
  display: flex;
  flex-direction: column;
  margin-left: 85px;

  .info {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-family:$font-stack2 ;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: capitalize;
    color: #666666;
  }

  .line3 {
    @include line ;
    width: 100px;
    margin: 30px 183px;
  }

  .profession {
     font-family:$font-stack ;
     font-weight: 400;
     font-size: 24px;
     line-height: 36px;
     text-align: center;
     text-transform: capitalize;
     color: #666666;
   }
}

.social {
  display: flex;
  margin: 30px 100px 49px;
  align-self: center;

  .icon {
    width: 30px;
    height: 30px;
  }

  .icon:not(:last-child) {
    margin-right: 5px;
  }
}

.text {
  font-family: $font-stack;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  padding: 0 19px 20px;
}

.decore {
  align-self: center;
  margin-bottom: 30px;
}

.button {
  font-family: $font-stack3;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
  margin: 0 176px;
  padding: 7px 7px;
  border: 1px solid $color-yellow;
}

@mixin angle {
  width: 100px;
  height: 100px;
  border: 1px solid $color-yellow;
  position: absolute;
}

.angle1 {
  @include angle;
  border-bottom: none;
  border-right: none;
  top: 22px;
  left: 106px;
}

.angle2 {
  @include angle;
  border-bottom: none;
  border-left: none;
  top: 22px;
  right: 80px;
}

.angle3 {
  @include angle;
  border-top: none;
  border-right: none;
  bottom: 10px;
  left: 106px;
}

.angle4 {
  @include angle;
  border-top: none;
  border-left: none;
  bottom: 10px;
  right: 79px;
}

